/* Admonition-todo */
div.admonition-todo {
    border-color: hotpink;
    background-color: #fce4ec;
    background: linear-gradient(0deg, #ffebee, #fff3e0, #fffde7, #e8f5e9, #e0f2f1, #e0f7fa, #e3f2fd, #f3e5f5, #fce4ec, #fce4ec);
}
div.admonition-todo > .admonition-title {
    background-color: #f48fb1;
    background: linear-gradient(90deg, #ef9a9a, #ffcc80, #fff176, #a5d6a7, #80cbc4, #80deea, #90caf9, #ce93d8, #f48fb1, #f06292);
}
div.admonition-todo > .admonition-title::after {
    color: hotpink;
    content: "\f7d9";
}
