/* Admonition-todo */
div.admonition-todo {
    border-color: var(--tud-pink) !important;
    background-color: var(--tud-pink-min) !important;
    background: linear-gradient(0deg, var(--tud-red-min), var(--tud-orange-min), var(--tud-yellow-min), var(--tud-green-min), var(--tud-darkGreen-min), var(--tud-cyan-min), var(--tud-blue-min), var(--tud-purple-min), var(--tud-pink-min), var(--tud-raspberry-min)) !important;
}
div.admonition-todo > .admonition-title {
    background-color: var(--tud-pink-mid) !important;
    background: linear-gradient(90deg, var(--tud-red-mid), var(--tud-orange-mid), var(--tud-yellow-mid), var(--tud-green-mid), var(--tud-darkGreen-mid), var(--tud-cyan-mid), var(--tud-blue-mid), var(--tud-purple-mid), var(--tud-pink-mid), var(--tud-raspberry-mid)) !important;
}
div.admonition-todo > .admonition-title::after {
    color: var(--tud-pink) !important;
    content: "\f7d9" !important;
}
