/* Inline math */
.bd-content mjx-container[jax="CHTML"]:not([display="true"]) {
  vertical-align: baseline;
  white-space: normal !important;
  overflow: visible !important;
  display: inline !important;
  max-width: none !important;
  line-height: normal;
}

/* Display math */
.bd-content mjx-container[jax="CHTML"][display="true"] {
  margin: 1em 0;
  overflow-y: visible !important;
  display: inline !important;
  max-width: none !important;
  white-space: normal !important;
  padding-top: 0.2rem !important;
}
